/* Charset */
@charset 'UTF-8';

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:wght@400;700&display=swap');


/* Global Styles */
:root {
    --main-bg-color: #02020f;
    --main-theme-color: #f18f01;
    --alt-white-color: #f4f4f6;
    --dull-white-color: #8f8f8f;
    --secondary-theme-color: #4d6a6d;
    --alt-color: #5b3000;
    --card-bg-color: #23242a;
    --raisin-black-color: #221D23;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-track {
    margin-block: .3rem;
}

::-webkit-scrollbar-thumb {
    background: var(--main-theme-color);
    opacity: .2;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}

/* Common CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: all .2s ease-in-out;
}

body {
    background-color: var(--main-bg-color);
    height: 100vh;
    display: grid;
    place-items: center;
    color: var(--alt-white-color);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* Moon */
.moon {
    aspect-ratio: 1/1;
    position: absolute;
    width: 30rem;
    top: -8%;
    right: -8%;
    border-radius: 55%;
    box-shadow: 2px 2px 3rem var(--alt-white-color);
    transition: all .3s ease-in-out;
    animation: bounce 5s infinite alternate;
}

/* Clouds */
.cloud1 {
    position: absolute;
    z-index: 20;
    aspect-ratio: 16 / 9;
    width: 30rem;
    top: 0;
    left: 14%;
    animation: bounce 2s infinite linear alternate;
    transition: all .3s ease-in-out;
}

.cloud2 {
    position: absolute;
    z-index: 20;
    aspect-ratio: 16 / 9;
    width: 30rem;
    bottom: 0;
    right: 14%;
    animation: bounce 3s infinite linear alternate;
    transition: all .3s ease-in-out;
}

/* Bounce Effect */
@keyframes bounce {

    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(10%);
    }

}

/* Login form styling */
.login {
    background-color: var(--card-bg-color);
    width: 30%;
    height: 80%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.login form {
    position: absolute;
    inset: 4px;
    background-color: var(--raisin-black-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 2;
}

/* Spin Effect */
.login::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,
            transparent, transparent, var(--main-theme-color), var(--main-theme-color), var(--main-theme-color));
    transform-origin: bottom right;
    animation: spin-effect 9s linear infinite;
}

.login::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,
            transparent, transparent, var(--main-theme-color), var(--main-theme-color), var(--main-theme-color));
    transform-origin: bottom right;
    animation: spin-effect 9s linear infinite;
    animation-delay: -4.5s;
}

.borderSpin {
    position: absolute;
    top: 0;
    inset: 0;
}

.borderSpin::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,
            transparent, transparent, var(--alt-white-color), var(--alt-white-color), var(--alt-white-color));
    transform-origin: bottom right;
    animation: spin-effect 9s linear infinite;
    animation-delay: -2.25s;
}

.borderSpin::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,
            transparent, transparent, var(--alt-white-color), var(--alt-white-color), var(--alt-white-color));
    transform-origin: bottom right;
    animation: spin-effect 9s linear infinite;
    animation-delay: -6.75s;
}

/* Animations */
@keyframes spin-effect {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.login form h2 {
    letter-spacing: .2rem;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
}

.login form .inputField {
    position: relative;
    width: 80%;
    margin: 1.5rem auto;
}

.names {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.names .inputField {
    margin: 0;
}

.names .inputField input,
.login form .inputField input {
    position: relative;
    width: 100%;
    padding: .5rem;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: var(--main-bg-color);
    letter-spacing: .08rem;
    border-radius: 5px;
    z-index: 10;
}

.login form .inputField span {
    position: absolute;
    left: 0;
    padding: .5rem;
    color: var(--alt-white-color);
    pointer-events: none;
    transition: all .3s ease-in-out;
    font-size: .9rem;
}

.login form .inputField input:valid~span,
.login form .inputField input:focus~span {
    color: var(--main-theme-color);
    font-size: .8rem;
    transform: translateY(-30px);
}

.login form .inputField i {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 2px;
    background-color: var(--alt-white-color);
    pointer-events: none;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.login form .inputField input:valid~i,
.login form .inputField input:focus~i {
    height: 35px;
}

/* Links */
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
}

.links a {
    font-size: .8rem;
    color: var(--dull-white-color);
    transition: all .3s ease-in-out;
    text-align: center;
}

.links a:hover {
    transform: scale(1.05);
    color: var(--main-theme-color);
}

.submit-btn {
    position: relative;
    width: 80%;
    margin: 1rem auto;
    outline: none;
    border: none;
    background-color: var(--alt-white-color);
    cursor: pointer;
    border-radius: 1rem;
    font-weight: 600;
    transition: all .4s ease-in;
    overflow: hidden;
}

.submit-btn:active {
    opacity: .5;
}

.submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: var(--main-theme-color);
    transition: all .4s ease-out;
    border-radius: 1rem;
}

.submit-btn:hover {
    background-color: transparent;
    color: var(--alt-white-color);
}

.submit-btn:hover::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 100%;
    padding: .8rem .3rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
}

@media all and (max-width: 1500px) {

    .moon {
        top: -10%;
        right: -10%;
    }

    .cloud1 {
        left: 10%;
    }

    .cloud2 {
        right: 10%;
    }

    .login {
        width: 30%;
    }

    .names,
    .login form .inputField,
    .links,
    .submit-btn {
        width: 90%;
    }

}

@media all and (max-width: 1300px) {
    .moon {
        top: -13%;
        right: -13%;
    }

    .cloud1 {
        left: 5%;
    }

    .cloud2 {
        right: 5%;
    }
}

@media all and (max-width: 1200px) {

    .moon {
        top: -15%;
        right: -15%;
    }

    .cloud1 {
        width: 27rem;
    }

    .cloud2 {
        width: 27rem;
    }

    .login {
        width: 40%;
        height: 85%;
    }

    .links {
        flex-direction: column;
    }

    .links a {
        margin: .5rem 0;
    }
}

@media all and (max-width: 1100px) {

    .moon {
        top: -20%;
        right: -20%;
    }

    .cloud1 {
        width: 23rem;
        left: 0;
    }

    .cloud2 {
        width: 23rem;
        right: 0;
    }
}


@media all and (max-width: 800px) {

    .moon {
        top: -20%;
        right: -20%;
    }

    .cloud1 {
        width: 20rem;
    }

    .cloud2 {
        width: 20rem;
    }

    .login {
        width: 50%;
        height: 85%;
    }

    .links {
        flex-direction: column;
    }

    .links a {
        margin: .5rem 0;
    }
}

@media all and (max-width:600px) {

    .moon {
        width: 20rem;
        top: -20%;
        right: -20%;
    }

    .cloud1 {
        width: 13rem;
    }

    .cloud2 {
        width: 15rem;
    }

    .login {
        width: 60%;
        height: 95%;
    }

    .names {
        width: 100%;
        flex-direction: column;
        gap: 0;
    }
}